version: '3.9'

services:
  app:
    build:
      context: ./dockerfiles
      dockerfile: nginx.dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      # ... your certs here ...
      - ./src/public:/var/www/html/public:ro
    depends_on:
      - php
    networks:
      - laravel

  php:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    expose:
      - "9000"
    networks:
      - laravel

  postgres:
    image: postgres:alpine
    # ... your postgres config ...
    networks:
      - laravel

networks:
  laravel:
